<div class="container panel panel-info">
  <div class="panel-body">
    <span class="lefted"><h5>{{model.author}} answers, </h5></span>
    <span class="med-tabbed"><h4>{{model.body}}</h4></span>
  </div>
</div>
