{{#link-to 'question' model.id}}
<div class="container panel panel-info">
  <div class="panel-heading">
    {{#if model.status}}
    <div class="answer-badge">
      <p>
        <strong>Needs Answering!!!</strong>
      </p>
    </div>
    {{/if}}
    <span class="lefted"><h5>{{model.author}} asks, </h5></span>
    <span class="med-tabbed"><h4>{{model.body}}</h4></span>
  </div>
  <div class="">
    <h1>DEBUG ZONE</h1>
    <p>
      Model id is currently {{model.id}}
    </p>
  </div>
</div>
{{/link-to}}
