<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-brand">
      A world wide web of questions
    </div>
    <ul class="nav navbar-nav navbar-right">
      <div class="navbar-header">
        {{#link-to 'index'}}<a class="navbar-brand" href="#">Home</a>{{/link-to}}
      </div>
      <li>{{#link-to 'new-question'}}<a href="#">Ask a Question</a>{{/link-to}}</li>
    </ul>
  </div>
</nav>
<div class="topper">

</div>
<div class="container">
  <div class="row">
      {{outlet}}
  </div>
</div>
