<div class="jumbotron">
  <h3>Make changes to {{model.author}}'s question:</h3>
  {{question-tile model=model}}
</div>
<div class="well">
  <h3>Edit Question:</h3>
  {{edit-question question=model updateQuestion='updateQuestion'}}
</div>
