<h1>Make changes to {{model.author}}'s question:</h1>
{{question-tile model=question}}
<div class="well">
  <h3>Edit Question:</h3>
  {{edit-question question=model updateQuestion='updateQuestion'}}
</div>
{{edit-question question=model updateQuestion='updateQuestion'}}
