<div class="jumbotron">
  <h1>Find answers to all of life's most pressing quesitons</h1>
  <p>
    with answers by the world's most trusted source, anonymous strangers on the internet!
  </p>
</div>
<div class="centered">
  <h2>Have you ever wondered...</h2>
</div>
<br>
{{#each model.questions as |question|}}
  {{question-tile model=question}}
  <hr>
{{/each}}
